

multi-options {
	display: block;
	
	& ul {
		list-style: '';
		padding: 0;
		margin: 0;
		border: #ccc solid 1px;
		border-radius: 0.25rem;

		&:empty::before {
			content: attr(data-no-items);
			display: block;
			padding: 0.5rem;
			font-style: italic;
			text-align: center;
			color: color-mix(in srgb, currentColor 50%, white 50%);
		}

		& li + li {
			border-block-start: #ccc solid 1px;
		}

		& label {
			display: block;
			padding: 0.5rem;
		}
	}

	& > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
		padding-inline: 0.5rem;
		margin-block-end: 0.5rem;
	}
}


/*
	Setup
*/
html {
	font-size: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 1rem;
}

.form_row {
	margin-block: 2rem;

	& > label {
		display: inline-block;
		font-weight: 700;
		margin-block-end: 0.25rem;
	}
}

[type="text"],
button {
	--control-font-size: 1rem;
	--control-padding: 0.5rem;
	--control-border-width: 0.0625rem;

	appearance: none;
	display: block;
	padding: var(--control-padding);
	border: #ccc solid var(--control-border-width);
	border-radius: calc(var(--control-font-size) / 4);
	font-family: inherit;
	font-size: var(--control-font-size);
	line-height: 1;
}

[type="text"] {
	box-sizing: border-box;
	inline-size: 100%;
	max-block-size: calc(var(--control-font-size) + (var(--control-padding) * 2) + (var(--control-border-width) * 2));
}

button {
	padding-inline: calc(var(--control-padding) * 2);
}
